# Ne surtout pas pousser ce fichier en prod
secrets/sortilege_de_procrastination.txt

# Fichier perso de l'utilisateur
procrastination_guide.pdf
cheat_codes_for_tickets.txt

# Si tu trouves ça, tu es vraiment curieux...
read_me_if_you_can.txt